body{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}

#btns{
    align-self: center;
    width: 50%;
    display: flex;
    justify-content: space-between;

}
 .btn{
    height: 60px;
    width: 150px;
    border-radius: 10px;
 }

.container{
    border:2px  solid black;
    width: 500px;
    min-height: 500px;
    margin: 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    
}

.initialSize{
border: 0.5px solid black;
box-sizing: border-box;
min-width: 31.25px;
height:31.25px;
}

.size16{
    border: 0.5px solid black;
    box-sizing: border-box;
min-width: 31.25px;
height:31.25px;
}

.size20{
    border: 0.5px solid black;
    box-sizing: border-box;
min-width: 25px;
height:25px;
}

.size25{
    border: 0.5px solid black;
    box-sizing: border-box;
min-width: 20px;
height:20px;
}

.size40{
    border: 0.5px solid black;
    box-sizing: border-box;
width: 12.5px;
height:12.5px;
}

.black{
    background-color: black;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.purple{
    background-color:purple;
}

.yellow{
    background-color:yellow;
}

.orange{
    background-color:orange;
}

.white{
    background-color:white;
}

